$primary:#d9edf7;
$primary2:#337ab7;
html,body{
    margin:0;
    padding:0;
    height:100%;
}
#app{
    padding-right:50px;
    height:100%;

}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
input,select{
    padding: 0px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 30px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}


.search_form{
    .head{
        margin-top:10px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color:$primary;
        border: 1px solid #ddd;
        width:100%;
        min-height: 100px;;
        .group{
            width:300px;height:50px;line-height:30px;float:left;margin-left:20px;
            .label{
                width:80px;
                height:50px;
                line-height:50px;
                float:left;
                font-weight: bold;
                font-size: 14px;
            }
            .value{
                width:220px;
                float:left;
                input,select{
                    vertical-align: middle;
                    width:180px;
                    margin-top:10px;
                    
                }
            }
        }
    }
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}
.data_table{
    margin-top: 20px;
    border: 1px solid #ddd;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    thead{
        tr{
            background-color:$primary !important;
            th{
                text-align:center;
                border: 1px solid #ddd;
                border-bottom-width: 2px;
                padding: 8px;
                line-height: 1.42857143;
            }
        }
    }
    tr{
        td{
            border: 1px solid #ddd;
            padding: 8px;
            line-height: 1.42857143;
            &.no{
                text-align: center;
                width:50px;
            }
            &.status{
                text-align: center;
                width:100px;
            }
            &.button{
                text-align:center;

            }
        }
    }
    tr:nth-of-type(odd) {
        background-color: #f9f9f9;
      }
    tfoot{
        tr{
            th{
                background-color:#f2dede;
	            text-align:center;
            }
        }
    }
}
.detail_table{
    width:100%;
    tr td{
        height:50px;
        border:1px solid #ddd;
        
    }
    tr td:nth-child(even){
        text-align:left;
        padding-left:10px;
        width:40%;
    }
     tr td:nth-child(odd){
        text-align:right;
        padding-right:10px;
        width:10%;
        font-weight:bold;
        background-color:#d9edf7;
    }
}
.edit_table{
    width:100%;
    tr td{
        height:50px;
        input{
            width:300px;
        }
        select{
            width:326px;
        }
    }
    tr td:nth-child(even){
        text-align:left;
        padding-left:10px;
        width:40%;
    }
     tr td:nth-child(odd){
        text-align:right;
        padding-right:10px;
        width:10%;
        font-weight:bold;
        background-color:#d9edf7;
    }
}